@font-face {
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Regular.otf") format("otf");
}


@font-face {
    font-family: 'BasicCommercialLTW04-Light';
    src: url("../fonts/Basic.ttf") format("ttf");
}


body
{
    font-family:'Basic';
    font-size: 1.2em;
}


/*Titres couleur */

h1{
    color: #006a67;
}

h2{ 
    color: #034ea2;
    font-weight: bold;
}

h3{
    color: #036ed2;
}

.navbar-brand
{
    text-transform: uppercase;
}
/*déssoulignement*/

a:link{
    text-decoration: none;
    color: #006a67;

    }
    a:hover{
        color: #141414;
    }


.nav-link  {
    color: #006a67;
}

.dropdown-item{
    color: #006a67;
}

.navbar-light .navbar-nav .nav-link {
    color:#006a67;
}


/*liste déroulante*/

.navbar-light .navbar-toggler 
{
    color: #006a67;
    border-color:#006a67;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #141414;
}

.dropdown-menu{
    border:1px solid #006a67;
}

.header {
    display: flex;
    flex-direction:row;
    align-items: center;
  }

  #navbarNavDropdown
  {
      flex-direction: row-reverse;
  }

  .navbar-nav
  {
      align-items: flex-end;
  }

    /*animations logo*/

  #mainIcon {
    width: 100px;
    position: absolute;
    left: 50%;
    animation-name: animateIconToCenter;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@media(max-width:990px)
    {
        #mainIcon {
        width: 80px;

        }
    }

@keyframes animateIconToCenter {
  from {
    left: 0vw;
    transform: rotate(0deg) scale(0.2);
  }
  to {
    left: 50%;
    transform: rotate(720deg) scale(1);
  }
}

.mentions
{
    display: flex;
    justify-content: center;
}

.mentions a
{
    color: #006a67;
}
 
