@font-face {
    font-family: 'OpenDyslexic';
    src: url("../fonts/OpenDyslexic-Regular.otf") format("otf");
}


@font-face {
    font-family: 'BasicCommercialLTW04-Light';
    src: url("../fonts/Basic.ttf") format("ttf");
}


body
{
    font-family:'BasicCommercialLTW04-Light';
    font-size: 1.2em;
}


/*Titres couleur */

h1{
    color: #006a67;
}

h2{ 
    color: #034ea2;
    font-weight: bold;
}

h3{
    color: #036ed2;
}

/*déssoulignement*/

a:link{
    text-decoration: none;
    }

    a:hover{
        color: #141414;
    }

/*emplacement header*/

.namelogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 200px;

}


.navbar{
    justify-content: flex-end;
}


.nav-link  {
    color: #006a67;
}

.dropdown-item{
    color: #006a67;
}


/*liste déroulante*/

.dropdown-menu{
    border:1px solid #006a67;
}

.header {
    display: flex;
    flex-direction:row;
    align-items: center;
  }

    /*animations logo*/

  #mainIcon {
    width: 64;
    position: absolute;
    left: 50vw;
    animation-name: animateIconToCenter;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes animateIconToCenter {
  from {
    left: 0vw;
    transform: rotate(0deg) scale(0.2);
  }
  to {
    left: 50vw;
    transform: rotate(720deg) scale(1);
  }
}

.mentions
{
    display: flex;
    justify-content: center;
}

.mentions a
{
    color: #006a67;
}
  @keyframes animateIconToCenter {
    from {
      left: 0vw;
      transform: rotate(0deg) scale(0.2);
    }
    to {
      left: 50vw;
      transform: rotate(720deg) scale(1);
    }
  }


 
